body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:76px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:76px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:25px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:25px;
}
#u1060_img.selected {
}
#u1060.selected {
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:181px;
  width:12px;
  height:20px;
  color:#FFFFFF;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:178px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:762px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:212px;
  width:471px;
  height:762px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:222px;
  width:471px;
  height:258px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:256px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:248px;
  width:228px;
  height:31px;
}
#u1066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:45px;
  background:inherit;
  background-color:rgba(95, 199, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:15px;
  color:#FFFFFF;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:507px;
  width:355px;
  height:45px;
  font-family:'Arial Negreta cursiva', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:15px;
  color:#FFFFFF;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:351px;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:289px;
  width:450px;
  height:1px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:316px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:308px;
  width:228px;
  height:31px;
}
#u1070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:349px;
  width:450px;
  height:1px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:376px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:368px;
  width:202px;
  height:31px;
}
#u1073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:413px;
  width:450px;
  height:1px;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:440px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:432px;
  width:228px;
  height:31px;
}
#u1076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
