body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:212px;
  width:471px;
  height:60px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:76px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:76px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:25px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:25px;
}
#u1081_img.selected {
}
#u1081.selected {
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:181px;
  width:12px;
  height:20px;
  color:#FFFFFF;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:178px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:271px;
  width:471px;
  height:1px;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:234px;
  width:29px;
  height:16px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:234px;
  width:29px;
  height:16px;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:272px;
  width:471px;
  height:702px;
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:316px;
  width:193px;
  height:16px;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:289px;
  width:43px;
  height:16px;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:304px;
  width:38px;
  height:16px;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:350px;
  width:471px;
  height:1px;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:431px;
  width:471px;
  height:1px;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:394px;
  width:193px;
  height:16px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:367px;
  width:57px;
  height:16px;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:382px;
  width:38px;
  height:16px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:477px;
  width:193px;
  height:16px;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:450px;
  width:43px;
  height:16px;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:465px;
  width:38px;
  height:16px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:511px;
  width:471px;
  height:1px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:592px;
  width:471px;
  height:1px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:555px;
  width:193px;
  height:16px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:528px;
  width:57px;
  height:16px;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:543px;
  width:38px;
  height:16px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:637px;
  width:193px;
  height:16px;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:610px;
  width:43px;
  height:16px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:625px;
  width:38px;
  height:16px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:671px;
  width:471px;
  height:1px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:752px;
  width:471px;
  height:1px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:715px;
  width:193px;
  height:16px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:688px;
  width:57px;
  height:16px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:703px;
  width:38px;
  height:16px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:797px;
  width:193px;
  height:16px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:770px;
  width:43px;
  height:16px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:785px;
  width:38px;
  height:16px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:831px;
  width:471px;
  height:1px;
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:912px;
  width:471px;
  height:1px;
}
#u1116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:875px;
  width:193px;
  height:16px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:848px;
  width:57px;
  height:16px;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:863px;
  width:38px;
  height:16px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
