body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1118px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:762px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:212px;
  width:471px;
  height:762px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:76px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:76px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:25px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:471px;
  height:25px;
}
#u552_img.selected {
}
#u552.selected {
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:181px;
  width:12px;
  height:20px;
  color:#FFFFFF;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:177px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:311px;
  width:471px;
  height:630px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:500px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:366px;
  width:444px;
  height:500px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:325px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:2px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:335px;
  width:133px;
  height:1px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:337px;
  width:131px;
  height:1px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:889px;
  width:270px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:212px;
  width:471px;
  height:88px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:222px;
  width:113px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:232px;
  width:100px;
  height:1px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:2px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:234px;
  width:99px;
  height:1px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:258px;
  width:163px;
  height:16px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
